[submodule "circuits"]
	path = circuits
	url = https://github.com/rift-labs-inc/circuits
[submodule "contracts"]
	path = contracts
	url = https://github.com/rift-labs-inc/contracts
[submodule "data-aggregation-contracts"]
	path = data-aggregation-contracts
	url = https://github.com/rift-labs-inc/data-aggregation-contracts
